{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "reset password page" %}{% endblock title %}

{% block header_references %}

  <link rel="stylesheet" href="{% static "account_module/css/custom.css" %}">
<style>
  .error-list{
    color:red;
    padding-left:7px;
  }
</style>

{% endblock header_references %}

{% block content %}
<section class="forget-password-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
            <a class="logo" href="index.html">
              <img src="images/logo.png" alt="">
            </a>
            <h2 class="text-center">{% trans "Welcome Back" %}</h2>
            <br>
            <h4 class='text-center'>{% trans "Please enter your new password" %}</h4>
            <form class="text-left clearfix" method='post' action="" novalidate>
              {% csrf_token %}
              <div class="form-group">
                {{form.password}}
              </div>
              <div class="form-group">
                {{form.confirm_password}}
              </div>

              <br>
              <div class='error-list'>
                {{form.password.errors}}
                {{form.confirm_password.errors}}
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-main text-center">{% trans "reset password" %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

