asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
crispy-bootstrap4==2024.1
cryptography==43.0.3
defusedxml==0.8.0rc2
Django==5.0.7
django-ckeditor==6.7.1
django-crispy-forms==2.3
django-js-asset==2.2.0
django-render-partial==0.4
idna==3.10
oauthlib==3.2.2
pillow==10.4.0
pycparser==2.22
PyJWT==2.9.0
python-dotenv==1.0.1
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sorl-thumbnail==12.10.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
