{% extends "base.html" %}
{% load render_partial %}
{% load thumbnail %}
{% load poll_extras %}

{% block content %}

    {% render_partial 'home_module.views.slider_component'%}
    
    <!-- Main Menu Section -->
    
    {% if product_category_banner_bottom_left and product_category_banner_bottom_left and product_category_banner_right %}
        <section class="product-category section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title text-center">
                            <h2>Product Category</h2>
                        </div>
                    </div>
                    {% if product_category_banner_bottom_left and product_category_banner_top_left %}
                        <div class="col-md-6">
                            <div class="category-box">
                                <a href="{% url "products-by-category" category=product_category_banner_top_left.url_title %}">
                                    {% if product_category_banner_top_left.image %}
                                    {% thumbnail product_category_banner_top_left.image '555x780' as pc %}
                                    <img src="{{pc.url}}" alt="" />
                                    {% endthumbnail %}
                                    {% else %}
                                        <img src="/static/images/shop/category/category-1.jpg" alt="" />
                                    {% endif %}
                                        <div class="content">
                                        <h3>{{product_category_banner_top_left.title|title}}</h3>
                                        <p>{{product_category_banner_top_left.short_description_banner|title}}</p>
                                    </div>
                                </a>	
                            </div>
                            <div class="category-box">
                                <a href="{% url "products-by-category" category=product_category_banner_bottom_left.url_title %}">
                                    {% if product_category_banner_bottom_left.image %}
                                    {% thumbnail product_category_banner_bottom_left.image '555x780' as pc %}
                                        <img src="{{pc.url}}" alt="" />
                                    {% endthumbnail %}
                                    {% else %}
                                        <img src="/static/images/shop/category/category-2.jpg" alt="" />
                                    {% endif %}
                                        <div class="content">
                                        <h3>{{product_category_banner_bottom_left.title|title}}</h3>
                                        <p>{{product_category_banner_bottom_left.short_description_banner|title}}</p>
                                    </div>
                                </a>	
                            </div>
                        </div>
                    {% endif %}
                    {% if product_category_banner_top_left %}
                        <div class="col-md-6">
                            <div class="category-box category-box-2">
                                <a href="{% url "products-by-category" category=product_category_banner_right.url_title %}">
                                    {% if product_category_banner_right.image %}
                                    {% thumbnail product_category_banner_right.image '555x780' as pc %}
                                        <img src="{{pc.url}}" alt="" />
                                    {% endthumbnail %}
                                    {% else %}
                                        <img src="/static/images/shop/category/category-3.jpg" alt="" />
                                    {% endif %}
                                        <div class="content">
                                        <h3>{{product_category_banner_right.title|title}}</h3>
                                        <p>{{product_category_banner_right.short_description_banner|title}}</p>
                                    </div>
                                </a>	
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if trend_products %}
        <section class="products section bg-gray">
            <div class="container">
                <div class="row">
                    <div class="title text-center">
                        <h2>Trendy Products</h2>
                    </div>
                </div>
                <div class="row">
                        {% for trend_product in trend_products %}
                            {% include "product_module/includes/product_item.html" with product=trend_product col_size=4 %}
                        {% endfor %}
                
                    <!-- Modal -->
                        <div class="modal product-modal fade" id="product-modal">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="tf-ion-close"></i>
                            </button>
                            <div class="modal-dialog " role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-6 col-xs-12">
                                                <div class="modal-image">
                                                    <img class="img-responsive" src="/static/images/shop/products/modal-product.jpg" alt="product-img" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="product-short-details">
                                                    <h2 class="product-title">GM Pendant, Basalt Grey</h2>
                                                    <p class="product-price">$200</p>
                                                    <p class="product-short-description">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
                                                    </p>
                                                    <a href="cart.html" class="btn btn-main">Add To Cart</a>
                                                    <a href="product-single.html" class="btn btn-transparent">View Product Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- /.modal -->
        
                </div>
            </div>
        </section>
    {% endif %}
    {% if most_viewed_products %}
        <section class="products section bg-gray">
            <div class="container">
                <div class="row">
                    <div class="title text-center">
                        <h2>Most Viewed Products</h2>
                    </div>
                </div>
                <div class="row">
                    
                    {% for most_viewed_product in most_viewed_products %}
                        {% include "product_module/includes/product_item.html" with product=most_viewed_product col_size=4 %}
                    {% endfor %}
                
                <!-- Modal -->
                <div class="modal product-modal fade" id="product-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="tf-ion-close"></i>
                    </button>
                    <div class="modal-dialog " role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        <div class="modal-image">
                                            <img class="img-responsive" src="/static/images/shop/products/modal-product.jpg" alt="product-img" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="product-short-details">
                                            <h2 class="product-title">GM Pendant, Basalt Grey</h2>
                                            <p class="product-price">$200</p>
                                            <p class="product-short-description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
                                            </p>
                                            <a href="cart.html" class="btn btn-main">Add To Cart</a>
                                            <a href="product-single.html" class="btn btn-transparent">View Product Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal -->
        
                </div>
            </div>
        </section>
    {% endif %}
    <!--
    Start Call To Action
    ==================================== -->
    <section class="call-to-action bg-gray section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">
                        <h2>SUBSCRIBE TO NEWSLETTER</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, <br> facilis numquam impedit ut sequi. Minus facilis vitae excepturi sit laboriosam.</p>
                    </div>
                    <div class="col-lg-6 col-md-offset-3">
                        <div class="input-group subscription-form">
                            <div class="error-list">
                                {{form.email.errors}}
                            </div>
                            <form method="post" action="" style="display: -webkit-inline-box;"  novalidate>
                                {% csrf_token %}

                                
                                {{form.email}}
                                <button class="btn btn-main" type="submit">Subscribe Now!</button>
                                
                            </form>

                        </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
    
                </div>
            </div> 		<!-- End row -->
        </div>   	<!-- End container -->
    </section>   <!-- End section -->
    
    {% comment %} <section class="section instagram-feed">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>View us on instagram</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="instagram-slider" id="instafeed" data-accessToken="IGQVJYeUk4YWNIY1h4OWZANeS1wRHZARdjJ5QmdueXN2RFR6NF9iYUtfcGp1NmpxZA3RTbnU1MXpDNVBHTzZAMOFlxcGlkVHBKdjhqSnUybERhNWdQSE5hVmtXT013MEhOQVJJRGJBRURn"></div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    
    



{% endblock content %}
{% block footer_references %}
{% endblock footer_references %}

