<div class="hero-slider">
    {% for slider in sliders %}
        <div class="slider-item th-fullpage hero-area" style="background-image: url({{ slider.image.url }});">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 text-center">
                <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">{{slider.title|capfirst|safe}}</p>
                <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">{{slider.text|safe}}</h1>
                <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="{% if slider.link_url %}{{slider.link_url}}{% else %}{% url "products" %}{% endif %}">{% if slider.btn_text %}{{slider.btn_text}}{% else %}Shop Now{% endif %}</a>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
</div>