{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}user addresses{% endblock title %}
{% block header_references %}{% endblock header_references %}

{% block content %}

    <section class="user-dashboard page-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% include "user_profile_module/includes/dashboard_navbar.html" %}
            <div class="dashboard-wrapper user-dashboard">
              {% if user_addresses %}
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">Name</th>
                      <th class="text-center">Country</th>
                      <th class="text-center">Address</th>
                      <th class="col-md-2 col-sm-3 text-center">Phone</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user_address in user_addresses %}
                    <tr>
                        
                        <td class="text-center">{{user_address.user}}</td>
                        <td class="text-center">{{user_address.country}}</td>
                        <td class="text-center">{{user_address.address|truncatechars:70}}</td>
                        <td class="text-center">{{user_address.phone}}</td>
                        <td class="text-center">
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal_{{forloop.counter}}"><i class="tf-pencil2"  aria-hidden="true"></i></button>
                            <a class="btn btn-default" href="{% url "address-remove" user_address_id=user_address.id %}"><i class="tf-ion-close" aria-hidden="true"></i></a>
                          </div>
                        </td>
                      </tr>

                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalNewAddress">Add New Address</button>
              {% else %}
              <p class="text-center">there is no address,do you want add first one?</p>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalNewAddress">Add New Address</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

<!--Modal-Forms-->
<!--forms-->
    {% for form in forms %}
      <!-- Modal -->
      <div class="modal fade" id="exampleModal_{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_{{forloop.counter}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title text-center" id="exampleModalLabel_{{forloop.counter}}">Edit Address</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" id="post-form" action="" novalidate>
                {% csrf_token %}
                {{ form | crispy}}
                <input type="hidden" name="id_address_counter" value="{{forloop.counter}}">
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">Close</button>
                  <button type="submit" class="btn btn-dark">update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- End-Modal-->
    {% endfor %}
<!--end forms-->

<!-- New-Address-Modal -->
<div class="modal fade" id="exampleModalNewAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalNewAddress" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="exampleModalNewAddress">Add New Address</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="post-form" action="" novalidate>
          {% csrf_token %}
          {{ new_address_form | crispy}}
          <input type="hidden" name="id_add_new_address" value="1">
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">Close</button>
            <button type="submit" class="btn btn-dark">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End-New-Address-Modal-->
<!--End-Modal-Forms-->
{% endblock content %}

{% block footer_references %}{% endblock footer_references %}

