{% extends "base.html" %}
{% load poll_extras %}
{% load i18n %}

{% block title %}{% trans "user dashboard" %}{% endblock title %}
{% block header_references %}{% endblock header_references %}

{% block content %}
	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{% include "user_profile_module/includes/dashboard_navbar.html" %}
					<div class="dashboard-wrapper user-dashboard">
						<div class="media">
							<div class="pull-left">
								{% if request.user.image %}
									<img class="media-object user-img" src="{{request.user.image.url}}" alt="Image">
								{% else %}
									<img class="media-object user-img" src="/static/images/avater.jpg" alt="Image">
								{% endif %}
							</div>
							<div class="media-body">
								{% if request.user.first_name and request.user.last_name %}
								<h2 class="media-heading">{% trans "Welcome" %} {{request.user.first_name|capfirst}} {{request.user.last_name|capfirst}}</h2>
								{% else %}
									<h2 class="media-heading">{% trans "Welcome" %} {{request.user.username}}</h2>
								{% endif %}
								{% if request.user.about_user %}
									<p>{{request.user.about_user}}</p>
								{% endif %}
							</div>
						</div>
						<div class="total-order mt-20">
							<h2 class="text-center">{% trans "Total Orders" %}</h2>
							<hr>
							{% if user_orders %}
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="text-center">{% trans "Order ID" %}</th>
											<th class="text-center">{% trans "Date" %}</th>
											<th class="text-center">{% trans "Items" %}</th>
											<th class="text-center">{% trans "Total Price" %}</th>
											<th class="text-center">{% trans "Details" %}</th>
										</tr>
									</thead>
									<tbody>
										{% for user_order in user_orders %}
											<tr>
												<td class="text-center"><a>#{{user_order.id}}</a></td>
												<td class="text-center">{{user_order.payment_date|date:"DATE_FORMAT"}} | {{user_order.payment_date|time:"TIME_FORMAT"}}</td>
												<td class="text-center">{{user_order.items}}</td>
												<td class="text-center">$ {{user_order.get_total_amount|three_digits}}</td>
												<td class="text-center"><a href="{% url "order-list" basket_id=user_order.id %}" class="btn btn-default">{% trans "click" %}</a></td>
											
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							{% else %}
								<p class="text-center">{% trans "You Dont Have Any Orders Yet!!" %}</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block footer_references %}{% endblock footer_references %}