{% extends "base.html" %}

{% block title %}user orders{% endblock title %}
{% block header_references %}{% endblock header_references %}

{% block content %}
	<section class="user-dashboard page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{% include "user_profile_module/includes/dashboard_navbar.html" %}
					<div class="dashboard-wrapper user-dashboard">
						<div class="table-responsive">
							<h2>Order Details</h2>
							<table class="table">
								<thead>
									<tr>
										<th class="text-center">Product Name</th>
										<th class="text-center">Count</th>
										<th class="text-center">Price</th>
										<th class="text-center">Final Price</th>
									</tr>
								</thead>
								<tbody>
									{% for detail in target_basket_details.order_detail.all %}
									<tr>
										<td class="text-center">{{detail.product.title}}</td>
										<td class="text-center">{{detail.count}}</td>
										<td class="text-center">{{detail.product.price}}</td>
										<td class="text-center">{{detail.final_price}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block footer_references %}{% endblock footer_references %}