{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}


{% block title %}{% trans "blog page" %}{% endblock title %}

{% block header_references %}{% endblock header_references %}

{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">{% trans "Blog" %}</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">{% trans "Home" %}</a></li>
						<li class="active">{% trans "blog" %}</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="post post-single">
					<div class="post-thumb">
						<img class="img-responsive" src="{{article.image.url}}" alt="">
					</div>
					<h2 class="post-title">{{article.title}}</h2>
					<div class="post-meta">
						<ul>
							<li>
								<i class="tf-ion-ios-calendar"></i> {{article.created_date }}
							</li>
								{% if article.author %}
									<li>
										<i class="tf-ion-android-person"></i> {% trans "AUTHOR" %}: {{article.author}}
									</li>
								{% endif %}
							<li>
								{% for tag in article.tags.all %}{% if forloop.first %}<i class="tf-ion-ios-pricetags"></i>{% endif %}<a> {{tag}}</a>{% endfor %}
							</li>
						</ul>
					</div>
					<div class="post-content post-excerpt">
						<p>{{article.text}}</p>
					</div>
				    {% comment %} <div class="post-social-share">
				        <h3 class="post-sub-heading">Share this post</h3>
				        <div class="social-media-icons">
				        	<ul>
								<li><a class="facebook" href="https://themefisher.com/"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a class="twitter" href="https://themefisher.com/"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a class="dribbble" href="https://themefisher.com/"><i class="tf-ion-social-dribbble-outline"></i></a></li>
								<li><a class="instagram" href="https://themefisher.com/"><i class="tf-ion-social-instagram"></i></a></li>
								<li><a class="googleplus" href="https://themefisher.com/"><i class="tf-ion-social-googleplus"></i></a></li>
							</ul>
				        </div>
				    </div> {% endcomment %}

				    <div class="post-comments" id='comments_area'>
				    	<h3 class="post-sub-heading">{{comments_count}} {% trans "Comments" %}</h3>
				    	<ul class="media-list comments-list m-bot-50 clearlist">

							{% for comment in comments %}
								<!-- Comment Item start-->
								<li class="media" id='single_comment_{{comment.id}}'>

									<a class="pull-left" href="#!">
										{% if comment.author.image %}
											{% thumbnail comment.author.image "50x50" crop='center' quality=75 as im%}
												<img class="media-object comment-avatar" src="{{im.url}}" alt="{{comment.author}}" >
											{% endthumbnail%}	
											{% else %}
												<img class="media-object comment-avatar" src="/static/images/blog/avater-1.jpg" alt="" width="50" height="50">
										{% endif %}
									</a>
	
									<div class="media-body">
										<div class="comment-info">
											<h4 class="comment-author">
												<a href="#!">{{comment.author}}</a>
												
											</h4>
											<time>{{comment.created_date |date:"Y-d-m"}}</time>
											<a class="comment-button" href="#!" onclick="fillParentId({{comment.id}})"><i class="tf-ion-chatbubbles"></i>{% trans "Reply" %}</a>
										</div>
	
										<p>{{comment.text}}</p>
	
										{% if comment.articlecomment_set %}
											{% for sub_comment in comment.articlecomment_set.all %}
												
												<!--  second level Comment start-->
												<div class="media" id='single_comment_{{comment.id}}'>

													<a class="pull-left" href="#!">
														{% if sub_comment.author.image %}
															{% thumbnail sub_comment.author.image "50x50" crop='center' quality=75 as im%}
																<img class="media-object comment-avatar" src="{{im.url}}" alt="{{comment.author}}" >
															{% endthumbnail%}	
															{% else %}
																<img class="media-object comment-avatar" src="/static/images/blog/avater-1.jpg" alt="" width="50" height="50">
														{% endif %}
													</a>
				
													<div class="media-body">
				
														<div class="comment-info">
															<div class="comment-author">
																<a href="#!">{{sub_comment.author}}</a>
															</div>
															<time>{{sub_comment.created_date|date:'Y-m-d'}}</time>
														</div>
				
														<p>
															{{sub_comment.text}}
														</p>
				
				
													</div>
				
												</div>
											<!-- second level Comment end -->
											{% endfor %}
										{% endif %}
	
									</div>
	
								</li>
								<!-- End Comment Item -->
							{% endfor %}

						</ul>
				    </div>

					{% if request.user.is_authenticated %}
					<div class="post-comments-form" id='comment_form'>
				    	<h3 class="post-sub-heading text-center">{% trans "Leave Your Comment" %}</h3>
				    	<form method="post" action="" id="form" role="form" >

				            <div class="row">
								<input type='hidden' value="" id='parentId'>
				                <!-- Comment -->
				                <div class="form-group col-md-12">
				                    <textarea name="text" id="text" class=" form-control" rows="6" placeholder="Comment" maxlength="400"></textarea>
				                </div>

				                <!-- Send Button -->
				                <div class="form-group col-md-12">
									<a class="btn btn-small btn-main " onclick=SendArticleComment({{article.id}})>{% trans "Send" %}</a>
				                    {% comment %} <button type="submit" class="btn btn-small btn-main ">
				                        Send comment
				                    </button> {% endcomment %}
				                </div>


				            </div>

				        </form>
				    </div>
					{% else %}
					<p class="alert alert-danger">
						{% trans "for commenting you must " %} <a href="{% url "login-page" %}"> {% trans "login" %} </a> {% trans "first" %}
					</p>
					{% endif %}


				</div>

			</div>
		</div>
	</div>
</section>


{% endblock content %}

{% block footer_references %}{% endblock footer_references %}

