{% extends "base.html" %}
{% load static %}
{% load thumbnail %}


{% block title %}about us{% endblock title %}
{% block header_references %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Presentation</title>
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> {% endcomment %}
{% endblock header_references %}

{% block content %}
    <section class="about section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="/static/images/about/about.jpg">
                </div>
                <div class="col-md-6">
                    <h2 class="mt-40">About Our Shop</h2>
                    <p>{{site_settings.about_us|safe}}</p>
                    
                    <a href="{% static "resume.pdf" %}" class="btn btn-main mt-20" download> Download </a>
                    <a href="{% url "resume" %}" class="btn btn-main mt-20">Visit Resume </a>
                    
                </div>
            </div>
            <br>
            <hr>
            {% if awards %}
                <div class="row mt-40">
                    {% for award in awards %}
                        <div class="col-md-4 text-center">
                            {% thumbnail award.image '108x104' as im %}
                                <img class="img-circle" src="{{im.url}}">
                            {% endthumbnail %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
    {% if team_members %}
        <section class="team-members ">
            <div class="container">
                <div class="row">
                    <div class="title"><h2>Team Members</h2></div>
                </div>
                <div class="row">
                    {% for team_member in team_members %}
                        <div class="col-md-4">
                            <div class="team-member text-center">
                                {% if team_member.image %}
                                    {% thumbnail team_member.image '220x220' as im%}
                                        <img class="img-circle" src="{{im.url}}">
                                    {% endthumbnail %}
                                {% endif %}
                                <h4>{{team_member.full_name}}</h4>
                                <p>{{team_member.position}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <div class="section video-testimonial bg-1 overly-white text-center mt-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Video presentation</h2>
                    <a style="text-decoration: none;" class="play-icon" href="" data-toggle="modal" data-target="#videoModal">
                        <i class="tf-ion-ios-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoModalLabel">Video Presentation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video controls style="width: 100%;">
                        <source src="{% static '/Feed.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>

    
    {% comment %} <div class="section video-testimonial bg-1 overly-white text-center mt-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Video presentation</h2>
                    <a class="play-icon" href="https://www.youtube.com/watch?v=oyEuk8j8imI&amp;rel=0" data-toggle="lightbox">
                        <i class="tf-ion-ios-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

{% endblock content %}


