{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include "includes/header_links.html" %}
  
  {% block header_references %}
  
  {% endblock header_references %}

</head>
<body id="body">
    {% render_partial 'home_module.views.header_component'%}
    {% render_partial 'home_module.views.navbar_component'%}
    {% block content %}
    
    {% endblock content %}
    {% render_partial 'home_module.views.footer_component'%}
    {% block footer_references %}
    
    {% endblock footer_references %}  
    {% include "includes/footer_links.html" %}
</body>
</html>