   <!-- Navbar -->

   <section class="menu">
    <nav class="navbar navigation">
        <div class="container">
            <div class="navbar-header">
                <h2 class="menu-title">Main Menu</h2>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- / .navbar-header -->

            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">

                    <!-- Home -->
                    <li class="dropdown">
                        <a href="{% url "home-page" %}">Home</a>
                    </li>
                    <!-- / Home -->

                    <!-- Contact us -->
                    <li class="dropdown ">
                        <a href="{% url "contact-us" %}">Contact us</a>
                    </li>
                    <!-- / Contact us -->
                    
                    <!-- About us -->
                    <li class="dropdown ">
                        <a href="{% url "about-us" %}">About us</a>
                    </li>
                    <!-- / About us -->

                    <!-- Shop -->
                    <li class="dropdown ">
                        <a href="{% url "products" %}">Shop</a>
                    </li>
                    <!-- / Shop-->


                    <!-- Login -->
                    <li class="dropdown ">
                        <a href="{% url "login-page" %}">Login</a>
                    </li>
                    <!-- / Login-->

                    {% if request.user.is_authenticated %}
                        <!-- Logout -->
                        <li class="dropdown ">
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                        <!-- / Logout-->
                    {% endif %}

                    <!-- Sign In -->
                    <li class="dropdown ">
                        <a href="{% url "sign-in-page" %}">Sign In</a>
                    </li>
                    <!-- / Sign In-->

                    <!-- Forget Password -->
                    <li class="dropdown ">
                        <a href="{% url "forget-password-page" %}">Forget Password</a>
                    </li>
                    <!-- / Forget Password-->

                    {% if request.user.is_superuser %}
                    <!-- Admin -->
                    <li class="dropdown ">
                        <a href="/admin">Admin</a>
                    </li>
                    <!-- / Admin-->
                    {% endif %}

                    {% comment %} <!-- Pages -->
                    <li class="dropdown full-width dropdown-slide">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                            role="button" aria-haspopup="true" aria-expanded="false">Pages <span
                                class="tf-ion-ios-arrow-down"></span></a>
                        <div class="dropdown-menu">
                            <div class="row">

                                <!-- Introduction -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li class="dropdown-header">Introduction</li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                    </ul>
                                </div>

                                <!-- Contact -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li class="dropdown-header">Dashboard</li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="dashboard.html">User Interface</a></li>
                                        <li><a href="order.html">Orders</a></li>
                                        <li><a href="address.html">Address</a></li>
                                        <li><a href="profile-details.html">Profile Details</a></li>
                                    </ul>
                                </div>

                                <!-- Utility -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li class="dropdown-header">Utility</li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="login.html">Login Page</a></li>
                                        <li><a href="signin.html">Signin Page</a></li>
                                        <li><a href="forget-password.html">Forget Password</a></li>
                                    </ul>
                                </div>

                                <!-- Mega Menu -->
                                <div class="col-sm-3 col-xs-12">
                                    <a href="shop.html">
                                        <img class="img-responsive" src="/static/images/shop/header-img.jpg" alt="menu image" />
                                    </a>
                                </div>
                            </div><!-- / .row -->
                        </div><!-- / .dropdown-menu -->
                    </li><!-- / Pages --> {% endcomment %}

                </ul><!-- / .nav .navbar-nav -->

            </div>
            <!--/.navbar-collapse -->
        </div><!-- / .container -->
    </nav>
</section>

<!-- End Navbar -->