{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "contact us" %}{% endblock title %}
{% block header_references %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="/static/contact_module/css/contact_us_custom.css" />
{% endblock header_references %}


{% block content %}
    <section class="page-wrapper">
        <div class="contact-section">
            <div class="container">
                <div class="row">
                    <!-- Contact Form -->
                    <div class="contact-form col-md-6 " >
                        <form id="contact-form" method="post" action="" role="form" novalidate>
                            {% csrf_token %}

                            {% for field in form %}
                                <div class="form-group error-list">
                                    {% comment %} {{field.label_tag}} {% endcomment %}
                                    {{field}}
                                    {% if field.errors %}
                                        {{field.errors}}
                                   {% endif %}
                                </div>
                            {% endfor %}
                            {% comment %}                             
                                <div id="mail-success" class="success">
                                    Thank you. The Mailman is on His Way :)
                                </div>
                                
                                <div id="mail-fail" class="error">
                                    Sorry, don't know what happened. Try later :(
                            </div> {% endcomment %}
                            
                            <div id="cf-submit">
                                <button type="submit" id="contact-submit" class="btn btn-transparent">{% trans "SUBMIT" %}</button>
                                {% comment %} <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit"> {% endcomment %}
                            </div>						
                            
                        </form>
                    </div>
                    <!-- ./End Contact Form -->
                    
                    <!-- Contact Details -->
                    <div class="contact-details col-md-6 " >
                        <div class="google-map">
                            <div id="map2"></div>
                            {% comment %} <div id="map"></div> {% endcomment %}
                        </div>
                        <ul class="contact-short-info" >
                            {% if site_settings.address %}
                                <li>
                                    <i class="tf-ion-ios-home"></i>
                                    <span>{{site_settings.address}}</span>
                                </li>
                            {% endif %}
                            {% if site_settings.phone %}
                            <li>
                                <i class="tf-ion-android-phone-portrait"></i>
                                <span>{% trans "Phone" %}: {{site_settings.phone}}</span>
                            </li>
                            {% endif %}
                            
                            {% if site_settings.fax %}
                            <li>
                                <i class="tf-ion-android-globe"></i>
                                <span>{% trans "Fax" %}: {{site_settings.fax}}</span>
                            </li>
                            {% endif %}
                            
                            {% if site_settings.email %}
                            <li>
                                <i class="tf-ion-android-mail"></i>
                                <span>{% trans "Email" %}: {{site_settings.email}}</span>
                            </li>
                            {% endif %}


                        </ul>
                        <!-- Footer Social Links -->
                        <div class="social-icon">
                            <ul>
                                {% if site_settings.facebook %}
                                    <li><a class="fb-icon" href="{{site_settings.facebook}}"><i class="tf-ion-social-facebook"></i></a></li>
                                {% endif %}
                                {% if site_settings.twitter %}
                                <li><a href="{{site_settings.twitter}}"><i class="tf-ion-social-twitter"></i></a></li>
                                {% endif %}
                                {% if site_settings.pinterest %}
                                <li><a href="{{site_settings.pinterest}}"><i class="tf-ion-social-pinterest-outline"></i></a></li>
                                {% endif %}

                            </ul>
                        </div>
                        <!--/. End Footer Social Links -->
                    </div>
                    <!-- / End Contact Details -->
                        
                    
                
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </section>
	
{% endblock content %}

{% block footer_references %}
    <script>
        var map = L.map('map2').setView([36.310476, 59.529669], 13); // Office's coordinates
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        L.marker([36.310476, 59.529669]).addTo(map) // Office's coordinates
            .bindPopup('<div class="text-center"><b>Our Office</b><br><a href="https://www.google.com/maps/dir/?api=1&destination=36.310476, 59.529669" target="_blank">Get Direction</a></div>')
            .openPopup();
    </script>
{% endblock footer_references %}