{% extends "base.html" %}
{% load static %}
{% block header_references %}

<style>
    .error-list li{
        color:red;
    }
</style>

{% endblock header_references %}

{% block title %}contact us{% endblock title %}
{% comment %} {% block header_references %}
    <link rel="stylesheet" href="/static/contact_us.css">
{% endblock header_references %} {% endcomment %}


{% block content %}
    <section class="page-wrapper">
        <div class="contact-section">
            <div class="container">
                <div class="row">
                    <!-- Contact Form -->
                    <div class="contact-form col-md-6 " >
                        <form id="contact-form" method="post" action="" role="form" novalidate>
                            {% csrf_token %}

                            {% for field in form %}
                                <div class="form-group error-list">
                                    {% comment %} {{field.label_tag}} {% endcomment %}
                                    {{field}}
                                    {% if field.errors %}
                                        {{field.errors}}
                                   {% endif %}
                                </div>
                            {% endfor %}
{% comment %}                             
                            <div id="mail-success" class="success">
                                Thank you. The Mailman is on His Way :)
                            </div>
                            
                            <div id="mail-fail" class="error">
                                Sorry, don't know what happened. Try later :(
                            </div> {% endcomment %}
                            
                            <div id="cf-submit">
                                <button type="submit" id="contact-submit" class="btn btn-transparent">SUBMIT</button>
                                {% comment %} <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit"> {% endcomment %}
                            </div>						
                            
                        </form>
                    </div>
                    <!-- ./End Contact Form -->
                    
                    <!-- Contact Details -->
                    <div class="contact-details col-md-6 " >
                        <div class="google-map">
                            <div id="map"></div>
                        </div>
                        <ul class="contact-short-info" >
                            {% if site_settings.address %}
                                <li>
                                    <i class="tf-ion-ios-home"></i>
                                    <span>{{site_settings.address}}</span>
                                </li>
                            {% endif %}
                            {% if site_settings.phone %}
                            <li>
                                <i class="tf-ion-android-phone-portrait"></i>
                                <span>Phone: {{site_settings.phone}}</span>
                            </li>
                            {% endif %}
                            
                            {% if site_settings.fax %}
                            <li>
                                <i class="tf-ion-android-globe"></i>
                                <span>Fax: {{site_settings.fax}}</span>
                            </li>
                            {% endif %}
                            
                            {% if site_settings.email %}
                            <li>
                                <i class="tf-ion-android-mail"></i>
                                <span>Email: {{site_settings.email}}</span>
                            </li>
                            {% endif %}


                        </ul>
                        <!-- Footer Social Links -->
                        <div class="social-icon">
                            <ul>
                                <li><a class="fb-icon" href="https://www.facebook.com/themefisher"><i class="tf-ion-social-facebook"></i></a></li>
                                <li><a href="https://www.twitter.com/themefisher"><i class="tf-ion-social-twitter"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-dribbble-outline"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-googleplus-outline"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-pinterest-outline"></i></a></li>
                            </ul>
                        </div>
                        <!--/. End Footer Social Links -->
                    </div>
                    <!-- / End Contact Details -->
                        
                    
                
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </section>
	
{% endblock content %}