{% load i18n %}
<ul class="list-inline dashboard-menu text-center">
    <li><a href="{% url "user-profile" %}" {% if request.resolver_match.url_name == 'user-profile' %} class="active"{% endif %}>{% trans "Dashboard" %}</a></li>
    <li><a href="{% url "profile-details" %}" {% if request.resolver_match.url_name == 'profile-details' %} class="active"{% endif %}>{% trans "Profile Details" %}</a></li>
    <li><a href="{% url "address" %}" {% if request.resolver_match.url_name == 'address' %} class="active"{% endif %}>{% trans "Address" %}</a></li>
    <li><a href="{% url "user-favorite-products" %}" {% if request.resolver_match.url_name == 'user-favorite-products' %} class="active"{% endif %}>{% trans "My Favorites" %}</a></li>
</ul>