{% extends "admin_panel_module/shared/base.html" %}
{% load poll_extras %}


{% block title %}edit brand{% endblock title %}
{% block header_references %}
{% endblock header_references %}

{% block content %}
<div class="col-12">
    <div class="card">
       <div class="card-body">
            <div id="validation" class="m-t-40 jsgrid" style="position: relative; height: auto; width: 100%;">
                <div>
                    <form action="" method="post" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        {{ formset.management_form }}

                        <div class="formset">
                            {% for form in formset %}
                                <div class="image-item">
                                    {% if form.instance.image %}
                                        <img style="width:75px;"  src="{{ form.instance.image.url }}" alt="Product Image">
                                    {% endif %}
                                    <div class="form">
                                        {{ form.as_p }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div>
                            <lable>Add new images:</label>
                                <br>
                            <input type="file" name="new-images" accept="image/png,image/jpeg" multiple >
                        </div>
                        <div>
                            {% comment %} <input type="submit" value="Save"> {% endcomment %}
                            <button type="submit" class="btn btn-light" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
       </div>
    </div>
</div>

{% endblock content %}

{% block footer_references %}{% endblock footer_references %}