{% extends "admin_panel_module/shared/base.html" %}
{% load poll_extras %}


{% block title %}edit brand{% endblock title %}
{% block header_references %}{% endblock header_references %}

{% block content %}
<div class="col-12">
    <div class="card">
       <div class="card-body">
            <div id="validation" class="m-t-40 jsgrid" style="position: relative; height: auto; width: 100%;">
                <div>
                    <form action="" method="post" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
{% comment %}                             
                        <!-- Render the formset -->
                        {{ form.images_formset.management_form }}
                        {% for image_form in form.images_formset %}
                            {{ image_form.as_p }}
                        {% endfor %} {% endcomment %}
                            
                        <div>
                            {% comment %} <input type="submit" value="Save"> {% endcomment %}
                            <button type="submit" class="btn btn-light" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
       </div>
    </div>
</div>

{% endblock content %}

{% block footer_references %}{% endblock footer_references %}